@import 'swiper/scss';
@import 'swiper/modules/navigation/navigation.scss';
@import 'swiper/modules/scrollbar/scrollbar.scss';

.swiper{
  overflow: hidden;
  &-scrollbar{
    position: relative !important;
  }
}
.scroll{
  height: 10px;
  background-color: $text;
  border-radius: 100px;
}